@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f6f5;
}

/* HEADER */
header {
  background: #111;
  height: 90px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 80px;
}

.logo h1 {
  color: white;
  font-size: 32px;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 50px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

header nav a:first-child {
  color: #3bb54a;
}

header nav a:hover {
  color: #3bb54a;
}

.header-icons img {
  width: 22px;
  margin-left: 15px;
}

/* LAYOUT */
main {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 40px;
}

.layout {
  display: grid;
  grid-template-columns: 2.2fr 1.5fr 1.3fr;
  gap: 40px;
}

.coluna-meio {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0 30px;
}

/* TÍTULOS */
h2 {
  color: #3bb54a;
  font-size: 42px;
  margin-bottom: 20px;
}

h3,
h4,
.titulo-verde {
  color: #3bb54a;
}

/* LISTA */
ul {
  margin-left: 20px;
  margin-bottom: 30px;
}

/* GRID NOTÍCIAS */
.noticias-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.noticias-grid img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

/* ÚLTIMAS */
.ultima-noticia {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.ultima-noticia img {
  width: 90px;
  height: 70px;
  border-radius:10px;
  object-fit: cover;
}

/* BOTÃO */
.btn-verde {
  width: 100%;
  padding: 14px;
  background: #3bb54a;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: 600;
}

/* TABELA */
.tabela {
  background: #eef0ee;
  padding: 20px;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

th,
td {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.status {
  display: flex;
  gap: 14px;
  /* increased spacing between dots */
}

.jogos {
  list-style: none;
  display: flex;
  gap: 14px;
  /* spacing between dots when using UL.jogos */
  padding: 0;
  margin: 0;
  align-items: center;
}

.jogos li {
  display: inline-block;
}

.bola {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.verde {
  background: #3bb54a;
}

.vermelha {
  background: #d94a4a;
}

.jogo {
  margin-bottom: 20px;
  font-size: 14px;
}

.jogo a {
  color: #3bb54a;
  font-weight: 600;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #0a3cff;
  color: white;
  height: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 50px;
}
